<div class="col s12 m12 l6 xl6 ">
    <a href="{{ site.url }}{{include.event.url}}" class="card large hoverable" style="display:block;">
        <div class="card-image waves-effect waves-block waves-light">
            <div style="position: absolute; width: 100%; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0); z-index:0;"></div>
            <img src="{{ site.url }}{{ include.event.locandina }}">
            <span class="card-title" style="z-index: 0; rgba(18, 203, 196,1.0);">{{ include.event.title }}</span>
            <span class="card-title" style="z-index: 1; rgba(0, 0, 0,1);">{{ include.event.title }}</span>
        </div>
        <div class="card-content">
            <p style="color: black">{{ include.event.description }}</p>
        </div>
    </a>
</div>